<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Set List</title>
  </head>
  <body>
    <h2><%= @song.title %></h2>
    <p>By: <%= @song.artist.name %></p>
  </body>
</html>
